// paths to reference files for test runs. Paths lead to the nf-core test datasets repo, modules branch

params {
    test_data {
        'homo_sapiens' {
            'genome' {
                fasta                                          = "${params.genomes_base}/genomics/homo_sapiens/genome/chr21/sequence/genome.fasta"
                fai                                            = "${params.genomes_base}/genomics/homo_sapiens/genome/chr21/sequence/genome.fasta.fai"
                dict                                           = "${params.genomes_base}/genomics/homo_sapiens/genome/chr21/sequence/genome.dict"
                germline_resource                              = "${params.genomes_base}/genomics/homo_sapiens/genome/chr21/germlineresources/gnomAD.r2.1.1.vcf.gz"
                germline_resource_tbi                          = "${params.genomes_base}/genomics/homo_sapiens/genome/chr21/germlineresources/gnomAD.r2.1.1.vcf.gz.tbi"
                dbsnp                                          = "${params.genomes_base}/genomics/homo_sapiens/genome/chr21/germlineresources/dbsnp_138.hg38.vcf.gz"
                dbsnp_tbi                                      = "${params.genomes_base}/genomics/homo_sapiens/genome/chr21/germlineresources/dbsnp_138.hg38.vcf.gz.tbi"
                
                hapmap_3_3_hg38_21_vcf_gz                      = "${params.genomes_base}/genomics/homo_sapiens/genome/chr21/germlineresources/hapmap_3.3.hg38.vcf.gz"
                hapmap_3_3_hg38_21_vcf_gz_tbi                  = "${params.genomes_base}/genomics/homo_sapiens/genome/chr21/germlineresources/hapmap_3.3.hg38.vcf.gz.tbi"
                1000g_omni                                     = "${params.genomes_base}/genomics/homo_sapiens/genome/chr21/germlineresources/1000G_omni2.5.hg38.vcf.gz"
                1000g_omni_tbi                                 = "${params.genomes_base}/genomics/homo_sapiens/genome/chr21/germlineresources/1000G_omni2.5.hg38.vcf.gz.tbi"
                res_1000g_phase1_snps_hg38_21_vcf_gz           = "${params.genomes_base}/genomics/homo_sapiens/genome/chr21/germlineresources/1000G_phase1.snps.hg38.vcf.gz"
                res_1000g_phase1_snps_hg38_21_vcf_gz_tbi       = "${params.genomes_base}/genomics/homo_sapiens/genome/chr21/germlineresources/1000G_phase1.snps.hg38.vcf.gz.tbi"

                mills_and_1000g_indels_21_vcf_gz               = "${params.genomes_base}/genomics/homo_sapiens/genome/chr21/germlineresources/mills_and_1000G.indels.hg38.vcf.gz"
                mills_and_1000g_indels_21_vcf_gz_tbi           = "${params.genomes_base}/genomics/homo_sapiens/genome/chr21/germlineresources/mills_and_1000G.indels.hg38.vcf.gz.tbi"
            }            
        }
    }   
}
