// paths to reference files for test runs. Paths lead to the nf-core test datasets repo, modules branch

params {
    test_data {
        'homo_sapiens' {
            'genome' {
                fasta                                          = "${params.genomes_base}/genomics/homo_sapiens/genome/chr21/sequence/genome.fasta"
                fai                                            = "${params.genomes_base}/genomics/homo_sapiens/genome/chr21/sequence/genome.fasta.fai"
                dict                                           = "${params.genomes_base}/genomics/homo_sapiens/genome/chr21/sequence/genome.dict"
                
                gnomad                                         = "${params.genomes_base}/genomics/homo_sapiens/genome/chr21/germlineresources/gnomAD.r2.1.1.vcf.gz"
                gnomad_tbi                                     = "${params.genomes_base}/genomics/homo_sapiens/genome/chr21/germlineresources/gnomAD.r2.1.1.vcf.gz.tbi"
                
                dbsnp                                          = "${params.genomes_base}/genomics/homo_sapiens/genome/chr21/germlineresources/dbsnp_138.hg38.vcf.gz"
                dbsnp_tbi                                      = "${params.genomes_base}/genomics/homo_sapiens/genome/chr21/germlineresources/dbsnp_138.hg38.vcf.gz.tbi"
                dbsnp_settings                                 = 'dbsnp,known=true,training=false,truth=false,prior=2.0 Homo_sapiens_assembly38.dbsnp138.vcf'
                
                res_1000g_omni                                 = "${params.genomes_base}/genomics/homo_sapiens/genome/chr21/germlineresources/1000G_omni2.5.hg38.vcf.gz"
                res_1000g_omni_tbi                             = "${params.genomes_base}/genomics/homo_sapiens/genome/chr21/germlineresources/1000G_omni2.5.hg38.vcf.gz.tbi"
                res_1000g_omni_settings                        = 'omni,known=false,training=true,truth=false,prior=12.0 1000G_omni2.5.hg38.vcf.gz'
                
                hapmap                                         = "${params.genomes_base}/genomics/homo_sapiens/genome/chr21/germlineresources/hapmap_3.3.hg38.vcf.gz"
                hapmap_tbi                                     = "${params.genomes_base}/genomics/homo_sapiens/genome/chr21/germlineresources/hapmap_3.3.hg38.vcf.gz.tbi"
                hapmap_settings                                = 'hapmap,known=false,training=true,truth=true,prior=15.0 hapmap_3.3.hg38.vcf.gz'
                
                res_1000g_phase1_snps                          = "${params.genomes_base}/genomics/homo_sapiens/genome/chr21/germlineresources/1000G_phase1.snps.hg38.vcf.gz"
                res_1000g_phase1_snps_tbi                      = "${params.genomes_base}/genomics/homo_sapiens/genome/chr21/germlineresources/1000G_phase1.snps.hg38.vcf.gz.tbi"
                res_1000g_phase1_snps_settings                 = '1000G,known=false,training=true,truth=false,prior=10.0 1000G_phase1.snps.high_confidence.hg38.vcf.gz'
                
                mills_and_1000g_indels                         = "${params.genomes_base}/genomics/homo_sapiens/genome/chr21/germlineresources/mills_and_1000G.indels.hg38.vcf.gz"
                mills_and_1000g_indels_tbi                     = "${params.genomes_base}/genomics/homo_sapiens/genome/chr21/germlineresources/mills_and_1000G.indels.hg38.vcf.gz.tbi"
                mills_and_1000g_indels_settings                = '1000G,known=true,training=false,truth=false,prior=10.0 Mills_and_1000G_gold_standard.indels.hg38.vcf.gz'
                
                annotation_SNP                                 = ['QD', 'MQ', 'FS', 'SOR']
                annotation_INDEL                               = ['QD', 'FS', 'SOR']
                
                resource_SNP = [
                    [    
                        hapmap,
                        res_1000g_omni,
                        res_1000g_phase1_snps,
                        dbsnp
                    ],
                    [    
                        hapmap_tbi,
                        res_1000g_omni_tbi,
                        res_1000g_phase1_snps_tbi,
                        dbsnp_tbi
                    ],
                    [    
                        hapmap_settings,
                        res_1000g_omni_settings,
                        res_1000g_phase1_snps_settings,
                        dbsnp_settings
                    ]
                ]
                resource_INDEL= [
                    [    
                        hapmap,
                        res_1000g_omni,
                        mills_and_1000g_indels
                    ],
                    [    
                        hapmap_tbi,
                        res_1000g_omni_tbi,
                        mills_and_1000g_indels_tbi
                    ],
                    [    
                        hapmap_settings,
                        res_1000g_omni_settings,
                        mills_and_1000g_indels_settings
                    ]
                ]
                
            }            
        }
    }   
}
