process {

    publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }

    withName: GATK4_MUTECT2_SOMPON {
        ext.args = '--max-mnp-distance 0'
    }

    withName: GATK4_MUTECT2 {
        ext.prefix = { "${meta.id}" }
        ext.args = ''
    }

    withName: BWAMEM2_MEM {
        ext.prefix = { "${meta.id}.mapped" }
    }

    withName: GATK4_APPLYBQSR {
        ext.prefix = { "${meta.id}.recalibrated" }
    }

    withName: GATK4_MERGEBAMALIGNMENT {
        ext.prefix = { "${meta.id}.merged" }
    }

    withName: PICARD_MARKDUPLICATES {
        ext.args = 'ASSUME_SORT_ORDER=queryname'
        ext.prefix = { "${meta.id}.markduplicates" }
    }

    withName: PICARD_SORTSAM_ALIGNED {
        ext.prefix = { "${meta.id}.sorted" }
    }

    withName: PICARD_SORTSAM_UNMAPPED {
        ext.prefix = { "${meta.id}.unmapped.sorted" }
    }

    withName: PICARD_SORTSAM_DUPLICATESMARKED {
        ext.prefix = { "${meta.id}.duplicatesmarked.sorted" }
    }
SAMTOOLS_MERGE
    withName: SAMTOOLS_INDEX_RECAL {
        ext.prefix = { "${meta.id}.recalibrated.bam.bai"}
    }
    
    withName: SAMTOOLS_INDEX_CHECKPOINT {
        ext.prefix = { "${meta.id}.merged.bam.bai"}
    }
    
    withName: SAMTOOLS_MERGE {
        ext.prefix = { "${meta.id}.merged"}
    }

    withName: SAMTOOLS_VIEW {
        ext.args  = '-b -h'
        ext.prefix = { "${meta.id}.viewed"}
    }

    withName: PICARD_ADDORREPLACEREADGROUPS {
        ext.prefix = { "${meta.id}.new_rg"}
    }

    withName: SAMTOOLS_FASTQ {
        ext.args = '-T RX'
    }

    withName: GATK4_HAPLOTYPECALLER {
        ext.args = '-ERC GVCF'
        ext.prefix = { "${meta.id}.g" }
    }

    withName: GATK4_GENOMICSDBIMPORT {
        ext.args = '--tmp-dir .'
    }

    withName: GATK4_GENOTYPEGVCFS{
        ext.args = '-max-alternate-alleles 32'
    }

    withName: GATK4_SELECTVARIANTS_SNP {
        ext.args = '--select-type-to-include SNP'
        ext.prefix = { "${meta.id}_SNP" }
    }

    withName: GATK4_SELECTVARIANTS_INDEL {
        ext.args = '--select-type-to-include INDEL'
        ext.prefix = { "${meta.id}_INDEL" }
    }

    withName: GATK4_SELECTVARIANTS_NORECAL {
        ext.args = '--select-type-to-include NO_VARIATION --select-type-to-include MNP --select-type-to-include SYMBOLIC --select-type-to-include MIXED'
        ext.prefix = { "${meta.id}_NORECAL" }
    }

    withName: GATK4_VARIANTRECALIBRATOR_SNP {
        ext.args = '--max-gaussians 4'
        ext.prefix = { "${meta.id}_SNP" }
    }

    withName: GATK4_VARIANTRECALIBRATOR_INDEL {
        ext.args = '--max-gaussians 4'
        ext.prefix = { "${meta.id}_INDEL" }
    }

    withName: GATK4_APPLYVQSR_SNP {
        ext.prefix = { "${meta.id}_SNP_recalibrated" }
    }

    withName: GATK4_APPLYVQSR_INDEL {
        ext.prefix = { "${meta.id}_INDEL_recalibrated" }
    }
    withName: GATK4_MERGEVCFS_RECALIBRATED {
        ext.prefix = { "${meta.id}_fully_recalibrated" }
    }

    withName: GATK4_FILTERMUTECTCALLS {
        ext.prefix = { "${meta.id}_filtered" }
    }

    withName: PICARD_RENAMESAMPLEINVCF {
        ext.prefix = { "${meta.id}.renamed.g" }
    }

    withName: PICARD_RENAMESOMATICSAMPLEINVCF {
        ext.prefix = { "${meta.id}.renamed" }
    }

}
